footer{
    display: flex;
    align-items: center;
    padding-left: 200px;
    background-color: #C8F4F9;
    height: 100px;
}

.redesSociales{
	float: right;
	padding-left: 450px;
  }

.redesSociales img{
	 padding-left: 15px;
  }

  .colorfooter{
	 color: #041F60;
 }

@media screen and (max-width: 1200px){
  footer{
    font-size: 12px;
  }

  .redesSociales{
    float: right;
    padding-left: 25rem;
  }
}

@media screen and (max-width: 992px){
  footer{
    font-size: 12px;
  }

  .redesSociales{
    float: right;
    padding-left: 15rem;
  }

  .redesSociales img{
    width: 30px;
    height: 20px;
 }
 
}

@media screen and (max-width: 768px){
  footer{
    font-size: 12px;
    padding-left: 4rem;
  }

  .redesSociales{
    float: right;
    padding-left: 14rem;
  }

  .redesSociales img{
    width: 30px;
    height: 20px;
 }
}


@media screen and (max-width: 576px){

  footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 0px;
  }
  .redesSociales{
    padding-right: 220px;
    text-align: center; 
  }
}