footer{
    display: flex;
    align-items: center;
    padding-left: 200px;
    background-color: #C8F4F9;
    height: 100px;
}

.redesSociales{
	float: right;
	padding-left: 500px;
  }

.redesSociales img{
	 padding-left: 15px;
  }

  .colorfooter{
	 color: #041F60;
 }