nav{
  padding-right: 3rem;
}
nav ul li {
  display: flex;
  flex-direction: row;
  margin-top: 0.6rem;
}
nav ul li a{
  text-decoration: none;
  color: rgb(52, 52, 233);
}
nav img{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
}
.nav{
    background-color: #C8F4F9;
    color: blanchedalmond;
    padding: 10px;
}
.menu{
    text-decoration-color: blanchedalmond;
}

.modal-body{
    color: black;
  }
.modal-title{
    color: #3CACAE;
    text-align: center;
    font-size: 30px;
  }