body{
    margin:50px 350px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px 50px;
}
.title{
    display: flex;
    flex-direction: row;
    align-items:center;
}
h1{
    font-size: 20px;
}
input{
    margin:15px 0px;
    width: 200px;
}
.password{
    text-align: center;
    margin: 0px 150px;
}
hr{
    color: black;
}
.enviar{
    margin:5px;
}