<body>
    <div>
        <div class="title">
            <img src="../../../assets/Logo.png" href="http://localhost:4200/#" alt="logo" width="200" height="100">
            <h1><strong>RESTABLECER CONTRASEÑA</strong></h1>
        </div>
        <hr>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row g-5 align-items-center text-center">
                <div class="col-auto">      
                    <input type="email" class="form-control usuario" id="exampleInputEmail1" formControlName="usuario" aria-describedby="emailHelp" placeholder="Usuario">
                </div>
                <div class="col-auto">
                    <input type="text" placeholder="Correo electrónico" class="form-control correo" formControlName="correo" aria-describedby="passwordHelpInline">
                </div>
            </div>

            <div class="mb-3 password">
                <label for="exampleInputPassword1" class="form-label">Contraseña nueva</label>
                <input type="password" class="form-control contraseña" id="exampleInputPassword1" formControlName="password1" placeholder="Mínimo 8 caracteres">
                <label for="exampleInputPassword1" class="form-label">Confirmar contraseña</label>
                <input type="password" class="form-control contraseña" id="exampleInputPassword1" formControlName="password1" placeholder="Mínimo 8 caracteres">
                <button type="submit" class="enviar btn btn-primary" href="http://localhost:10101//" role="button"> Enviar </button>
                <div *ngIf="!load" class="spinner-border text-info" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>

        </form>
    </div>
</body>
