nav img{
    text-align: center;
}
.nav{
    background-color: #C8F4F9;
    color: blanchedalmond;
    padding: 10px;
}
.menu{
    text-decoration-color: blanchedalmond;
}
.button{
    color: black;
    background-color:  #f6f8f8;
}
.input{
    color: black;
    background-color: #f6f8f8;
}