<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="..//../../assets/Logo.png" href="http://localhost:4200/home" alt="logo de la app" class="logo" width="200" height="100">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse nav" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://localhost:4200/home">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/perfilP">Ver Perfil</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Configuración
            </a>
            <ul class="dropdown-menu menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="http://localhost:4200/perfilInfo">Información Personal</a></li>
              <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
              <li><hr class="dropdown-divider"></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2 button" type="search" placeholder="Buscar" aria-label="Buscar">
          <button class="btn btn-sm btn-outline-secondary" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav> 
