<header>
    <nav>
        <ul class="lista">   
            <a href="http://localhost:4200/galery-ppal"><img src="../../../assets/Logo.png"  alt="logo" width="200" height="100"></a>          
          
          </ul> 
    </nav>
</header>

<section>
    <div *ngIf="!load" class="spinner-border text-info" role="status">
        <span class="sr-only"></span>
      </div>
    <form [formGroup]="formInicio" (ngSubmit)="onSubmitInicio()" class="fondo">  
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Usuario</label>
          <input type="email" class="form-control" formControlName="usuario" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Contraseña</label>
          <input type="password" class="form-control" formControlName="password">
        </div>
       
        <div class="ingreso">
          <p>{{inactiva}}</p>
          <button type="submit" class="btn btn-primary">Iniciar sesión </button>
        </div>
        <div class="registrate">
          <a class="nav-link" href="http://localhost:4200/registerAdmin">¿Olvidaste tu contraseña?</a>
        </div>
        <hr> 
        <div class="crearCuenta">
            <a href="http://localhost:4200/registerAdmin" class="btn btn-success">Crear cuenta</a>
          </div>
      </form>
      <div *ngIf="!load" class="spinner-border text-info" role="status">
        <span class="sr-only"></span>
    </div>
</section>
