<section id="Container">
    <div id='panel'  class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 240px; height: 38rem;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          <span class="fs-4">
            <a href="http://localhost:4200/galery-ppal"><img src="../../../assets/Logo.png"  alt="logo" width="200" height="100"></a>          
          </span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <button (click)="opcion = 'usuarios01'" 
                    (click)="titulo=!titulo"
                    class="nav-link link-dark">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="http://localhost:4200/panelAdmin/Usuarios"/></svg>
              Usuarios
            </button>
          </li>
          <li>
            <button (click)="opcion = 'mascotas01'" 
                    class="nav-link link-dark">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="http://localhost:4200/panelAdmin/Mascotas"/></svg>
              Mascotas
            </button>
          </li>
          <li>
            <button (click)="opcion = 'solicitudes01'" 
                    class="nav-link link-dark">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="http://localhost:4200/panelAdmin/Solicitudes"/></svg>
              Solicitudes
            </button>
          </li>
          <li>
            <button (click)="opcion = 'publicidades01'" 
                    class="nav-link link-dark">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="http://localhost:4200/panelAdmin/Publicidades"/></svg>
              Publicidades
            </button>
          </li>
          <li>
            <button (click)="opcion = 'adopciones01'" 
                    class="nav-link link-dark">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="http://localhost:4200/panelAdmin/Adopciones"/></svg>
              Adopciones
            </button>
          </li>
        </ul> 
        <hr>
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>USUARIO</strong>
          </a>
          <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
            <li><a class="dropdown-item" href="#">Configuración</a></li>
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
          </ul>
        </div>
    </div>
      <div class="b-example-divider"></div>



    <aside>
      <div  class = "container bg" [ngSwitch]= "opcion">
            <h1 *ngIf="titulo" class="titulo" style="margin: 100px;">
              <em>B</em>
              <em class="planet left">I</em>
              <em>E</em>
              <em>N</em>
              <em>V</em>
              <em>E</em>
              <em>N</em>
              <em>I</em>
              <em class="planet right">D</em>
              <em>O</em>
            </h1>
      

        <div class = "container text-success" *ngSwitchCase="'usuarios01'" >
          <H2 class="elegantshadow">USUARIOS</H2>
          <thead >
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Usuario</th>
              <th scope="col">Nombres</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Telefono</th>
              <th scope="col">Correo</th>
              <th scope="col">Estado de Cuenta</th>
            </tr>
          </thead>
          <table *ngFor="let usuario of usuarios" class="table">
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>{{usuario.idusuario}}</td>
                <td>{{usuario.usuario}} </td>
                <td>{{usuario.nombres}} </td>
                <td>{{usuario.apellidos}} </td>
                <td>{{usuario.telefono}} </td>
                <td>{{usuario.correo}} </td>
                <td>{{usuario.estadoCuenta}} </td>
              </tr>
            </tbody>
          </table>

        </div>
        <div  class = "container text-success" *ngSwitchCase ="'mascotas01'" >
          <h2 class="elegantshadow">MASCOTAS</h2>
          <thead >
            <tr>
              <th scope="col">IdMascota</th>
              <th scope="col">Nombre</th>
              <th scope="col">Tipo de Mascota</th>
              <th scope="col">Raza</th>
              <th scope="col">Edad</th>
              <th scope="col">Responsable</th>
              <th scope="col">Estado</th>
              <th scope="col">Descripcion</th>
            </tr>
          </thead>
            <table *ngFor="let mascota of mascotas" class="table">
              <tbody>
                <tr>
                  <th scope="row">{{mascota.idmascota}}</th>
                  <td>{{mascota.nombre}}</td>
                  <td>{{mascota.tipoDeMascota}}</td>
                  <td>{{mascota.raza}}</td>
                  <td>{{mascota.edad}}</td>
                  <td>{{mascota.responsable}}</td>
                  <td>{{mascota.idestado}}</td>
                  <td>{{mascota.descripcion}}</td>
                </tr>
              </tbody>
            </table>

        </div>
        <div class = "container text-success"  *ngSwitchCase ="'solicitudes01'" >
          <h2 class="elegantshadow">SOLICITUDES</h2>
          <thead >
            <tr>
              <th scope="col">Nombre Completo</th>
              <th scope="col">correo</th>
              <th scope="col">Nombre </th>
              <th scope="col">Asunto</th>
              <th scope="col">Mensaje</th>
              <th scope="col">Fecha</th>
            </tr>
          </thead>
            <table *ngFor="let solicitud of solicitudes" class="table" >
             
              <tbody >
                <tr>
                  <th scope="row">1</th>
                  <td>{{solicitud.nombreC}}</td>
                  <td>{{solicitud.correo}}</td>
                  <td>{{solicitud.telefono}}</td>
                  <td>{{solicitud.nombreO}}</td>
                  <td>{{solicitud.asunto}}</td>
                  <td>{{solicitud.mensaje}}</td>
                  <td>{{solicitud.date}}</td>
                </tr>
              </tbody>
            </table>
  
        </div>
        <div class = "container text-success"  *ngSwitchCase ="'publicidades01'" >
          <h2 class="elegantshadow">PUBLICIDADES</h2>
          <thead >
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Usuario</th>
              <th scope="col">Titulo</th>
              <th scope="col">Descripcion</th>
            </tr>
          </thead>
            <table *ngFor="let publicidad of publicidades" class="table">
              
              <tbody>
                <tr>
                  <th scope="row"> </th>
                  <td>{{publicidad.idPublicidad}}</td>
                  <td>{{publicidad.usuario}}</td>
                  <td>{{publicidad.titulo}}</td>
                  <td>{{publicidad.descripcion}}</td>
                </tr>
              </tbody>
            </table>
  
        </div>
        <div class = "container text-success"  *ngSwitchCase="'adopciones01'">
          <h2 class="elegantshadow">ADOPCIONES</h2>
          <thead >
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Mascota</th>
              <th scope="col">Adoptante</th>
              <th scope="col">Nombre</th>
              <th scope="col">Email</th>
              <th scope="col">tipo de Documento</th>
              <th scope="col">Documento</th>
              <th scope="col">Observaciones</th>
            </tr>
          </thead>
            <table *ngFor="let adopcion of adopciones" class="table">
              
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>{{adopcion.idAdopcion}}</td>
                  <td>{{adopcion.mascota}}</td>
                  <td>{{adopcion.adoptante}}</td>
                  <td>{{adopcion.nombre}}</td>
                  <td>{{adopcion.email}}</td>
                  <td>{{adopcion.tipodoc}}</td>
                  <td>{{adopcion.documento}}</td>
                  <td>{{adopcion.observaciones}}</td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class = "container text-success"  *ngSwitchCase="'default'">

        </div>
      </div>
    </aside>      

</section>