section{
    width:100%;
    height:100%;
    background: -webkit-linear-gradient(bottom, #c8f4f988, white);
}
h2{
    color: #C26DBC;
}
h5{
    text-align: center;
}
article{
    width: 100vw;
    height: 100%;
    display: flex;
    border-radius: 15px;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
}

.card{
    padding: 10px;
    margin: 15px;
    gap: 15px 15px  ;
    flex-grow:inherit;
}
.card body{
    text-align: center ;
    height: 30rem;
}
.card div a{
    align-items: center;
    margin: 5px;

}
.adopcion {
	text-align: center;
}
.text{
    text-align: center;
    padding-left: 8rem;
    padding-right: 8rem;
}
