<section>
    <article>
        <div class="card" style="width: 300px; height: 500px;" >
            <img src="../../../assets/Adopcion1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title"><strong>Nombre</strong></h5>
            <p class="card-text">Edad:</p>
            <p class="card-text">Raza:</p>
            <p class="card-text">Acargo:</p>
            <p class="card-text">Estado:</p>
                <div class="button">
                    <a href="http://localhost:4200/galeria" class="btn btn-primary">Adoptame</a>
                    <a href="#" class="btn btn-primary">Donar</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 300px; height: 500px;">
            <img src="../../../assets/Adopcion1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title"><strong>Nombre</strong></h5>
            <p class="card-text">Edad:</p>
            <p class="card-text">Raza:</p>
            <p class="card-text">Acargo:</p>
            <p class="card-text">Estado:</p>
                <div>
                    <a href="http://localhost:4200/galeria" class="btn btn-primary">Adoptame</a>
                    <a href="#" class="btn btn-primary">Donar</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 300px; height: 500px;">
            <img src="../../../assets/Adopcion1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title"><strong>Nombre</strong></h5>
            <p class="card-text">Edad:</p>
            <p class="card-text">Raza:</p>
            <p class="card-text">Acargo:</p>
            <p class="card-text">Estado:</p>
                <div>
                    <a href="http://localhost:4200/galeria" class="btn btn-primary">Adoptame</a>
                    <a href="#" class="btn btn-primary">Donar</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 300px; height: 500px;">
            <img src="../../../assets/Adopcion1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title"><strong>Nombre</strong></h5>
            <p class="card-text">Edad:</p>
            <p class="card-text">Raza:</p>
            <p class="card-text">Acargo:</p>
            <p class="card-text">Estado:</p>
                <div>
                    <a href="http://localhost:4200/galeria" class="btn btn-primary">Adoptame</a>
                    <a href="#" class="btn btn-primary">Donar</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 300px; height: 500px;">
            <img src="../../../assets/Adopcion1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title"><strong>Nombre</strong></h5>
            <p class="card-text">Edad:</p>
            <p class="card-text">Raza:</p>
            <p class="card-text">Acargo:</p>
            <p class="card-text">Estado:</p>
                <div>
                    <a href="http://localhost:4200/galeria" class="btn btn-primary">Adoptame</a>
                    <a href="#" class="btn btn-primary">Donar</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 300px; height: 500px;">
            <img src="../../../assets/Adopcion1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title"><strong>Nombre</strong></h5>
            <p class="card-text">Edad:</p>
            <p class="card-text">Raza:</p>
            <p class="card-text">Acargo:</p>
            <p class="card-text">Estado:</p>
                <div>
                    <a href="http://localhost:4200/galeria" class="btn btn-primary">Adoptame</a>
                    <a href="#" class="btn btn-primary">Donar</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 300px; height: 500px;">
            <img src="../../../assets/Adopcion1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title"><strong>Nombre</strong></h5>
            <p class="card-text">Edad:</p>
            <p class="card-text">Raza:</p>
            <p class="card-text">Acargo:</p>
            <p class="card-text">Estado:</p>
                <div>
                    <a href="http://localhost:4200/galeria" class="btn btn-primary">Adoptame</a>
                    <a href="#" class="btn btn-primary">Donar</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 300px; height: 500px;">
            <img src="../../../assets/Adopcion1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title"><strong>Nombre</strong></h5>
            <p class="card-text">Edad:</p>
            <p class="card-text">Raza:</p>
            <p class="card-text">Acargo:</p>
            <p class="card-text">Estado:</p>
                <div>
                    <a href="http://localhost:4200/galeria" class="btn btn-primary">Adoptame</a>
                    <a href="#" class="btn btn-primary">Donar</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 300px; height: 500px;">
            <img src="../../../assets/Adopcion1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title"><strong>Nombre</strong></h5>
            <p class="card-text">Edad:</p>
            <p class="card-text">Raza:</p>
            <p class="card-text">Acargo:</p>
            <p class="card-text">Estado:</p>
                <div>
                    <a href="http://localhost:4200/galeria" class="btn btn-primary">Adoptame</a>
                    <a href="#" class="btn btn-primary">Donar</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 300px; height: 500px;">
            <img src="../../../assets/Adopcion1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title"><strong>Nombre</strong></h5>
            <p class="card-text">Edad:</p>
            <p class="card-text">Raza:</p>
            <p class="card-text">Acargo:</p>
            <p class="card-text">Estado:</p>
                <div>
                    <a href="http://localhost:4200/galeria" class="btn btn-primary">Adoptame</a>
                    <a href="#" class="btn btn-primary">Donar</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 300px; height: 500px;">
            <img src="../../../assets/Adopcion1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title"><strong>Nombre</strong></h5>
            <p class="card-text">Edad:</p>
            <p class="card-text">Raza:</p>
            <p class="card-text">Acargo:</p>
            <p class="card-text">Estado:</p>
                <div>
                    <a href="http://localhost:4200/galeria" class="btn btn-primary">Adoptame</a>
                    <a href="#" class="btn btn-primary">Donar</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 300px; height: 500px;">
            <img src="../../../assets/Adopcion1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title"><strong>Nombre</strong></h5>
            <p class="card-text">Edad:</p>
            <p class="card-text">Raza:</p>
            <p class="card-text">Acargo:</p>
            <p class="card-text">Estado:</p>
                <div>
                    <a href="http://localhost:4200/galeria" class="btn btn-primary">Adoptame</a>
                    <a href="#" class="btn btn-primary">Donar</a>
                </div>
            </div>
        </div>
    </article>  
</section>  