  <section>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" >
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Titulo de la publicidad</label>
            <input type="text" class="form-control" formControlName="titulo"><br>
          </div>
          
          <div>
            <div>
                <label  class="form-label">Descripción</label>
            </div>
                 <input class="descripcion" type="text" formControlName="descripcion" rows= "7" cols="40">      
          </div>
         <div>
              <div class="mb-3">
                  <label for="formFile" class="form-label">Adjuntar Archivo</label>
                  <input class="form-control" type="file" formControlName="imagenes">
                </div>
          
          </div>
          <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" >
              <label class="form-check-label" for="exampleCheck1" aria-required="exampleCheck1">Aceptar los términos y condiciones</label>
          </div>
          <button type="submit" class="btn btn-primary" href="http://localhost:10101//">Enviar</button>
          <div *ngIf="!load" class="spinner-border text-info" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </form>
  </section>  