<aside>
    <h2><strong><a name="pricing">Adopciones</a></strong></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem cumque ex perspiciatis ducimus commodi! Dicta voluptatibus praesentium ut, ipsam illo in autem similique et, ducimus, possimus impedit cumque est facilis, ipsa blanditiis labore a dolore numquam temporibus.</p>
    <div id="cajas">
        <div class="primera">
            <div class="plan">
                <img src="../../../assets/informacion.png" width="90px" height="90px" alt="imagenmaletin" />
            <h3>Información</h3><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio dolore est ipsam repellendus mollitia quis. Eos at, molestias incidunt modi molestiae quae veniam voluptatem cupiditate, qui natus ea ullam totam.</p>
            </div>
        </div>
        <div class="segunda">
            <div class="plan">
                <img src="../../../assets/solicitudes.png" width="90px" height="90px" alt="imagenmaletin" />
            <h3>Solicitudes</h3><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio dolore est ipsam repellendus mollitia quis. Eos at, molestias incidunt modi molestiae quae veniam voluptatem cupiditate, qui natus ea ullam totam.</p>
            </div>
        </div>    
        <div class="tercera">
            <div class="plan">
                <img src="../../../assets/registro.png" width="90px" height="90px" alt="imagenmaletin" />
            <h3>Registro</h3><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio dolore est ipsam repellendus mollitia quis. Eos at, molestias incidunt modi molestiae quae veniam voluptatem cupiditate, qui natus ea ullam totam.</p>
            </div>
        </div>
    </div>
</aside>
<article>
    <div class="seccionadopcion">
    <h2>Adopta un amigo para toda la vida</h2>
    </div>
    <div class="article">
        <div class="card" style="width: 300px; height: 500px;">
            <img src="../../../assets/Adopcion1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title"><strong>Nombre</strong></h5>
            <p class="card-text">Edad:</p>
            <p class="card-text">Raza:</p>
            <p class="card-text">Acargo:</p>
            <p class="card-text">Estado:</p>
                <div>
                    <a href="http://localhost:4200/galeria" class="btn btn-primary">Adoptame</a>
                    <a href="#" class="btn btn-primary">Donar</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 300px; height: 500px;">
            <img src="../../../assets/Adopcion1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title"><strong>Nombre</strong></h5>
            <p class="card-text">Edad:</p>
            <p class="card-text">Raza:</p>
            <p class="card-text">Acargo:</p>
            <p class="card-text">Estado:</p>
                <div>
                    <a href="http://localhost:4200/galeria"class="btn btn-primary">Adoptame</a>
                    <a href="#" class="btn btn-primary">Donar</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 300px; height: 500px;">
            <img src="../../../assets/Adopcion1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title"><strong>Nombre</strong></h5>
            <p class="card-text">Edad:</p>
            <p class="card-text">Raza:</p>
            <p class="card-text">Acargo:</p>
            <p class="card-text">Estado:</p>
                <div>
                    <a href="http://localhost:4200/galeria" class="btn btn-primary">Adoptame</a>
                    <a href="#" class="btn btn-primary">Donar</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 300px; height: 500px;">
            <img src="../../../assets/Adopcion1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title"><strong>Nombre</strong></h5>
            <p class="card-text">Edad:</p>
            <p class="card-text">Raza:</p>
            <p class="card-text">Acargo:</p>
            <p class="card-text">Estado:</p>
                <div>
                    <a href="http://localhost:4200/galeria" class="btn btn-primary">Adoptame</a>
                    <a href="#" class="btn btn-primary">Donar</a>
                </div>
            </div>
        </div>
    </div>   
</article>
