<div class="perfil">
    <div class="container">
        <div *ngFor="let element of usuarios" >
            <ul class="nav flex-column">
                <li class="imagen">
                    <img src="http://localhost:10101/images?image={{element.idusuario}}" class="nav-link" href="#" width="250">
                    <h4>{{element.nombres}}</h4>
                </li> 
            </ul>
        </div>
        <div>
            <input type="checkbox" id="menu1">
            <label for="menu1" class="iconomenu">☰</label>
            <ul class="lista">
                <li class="nav-item boton1">
                    <a class="nav-link active " aria-current="page" href="http://localhost:4200/home">Inicio</a>
                  </li>
                  <li class="nav-item boton1">
                      <a class="nav-link" href="http://localhost:4200/perfilP">Publicaciones</a>
                  </li>
                  <li class="nav-item boton1">
                    <a class="nav-link" href="http://localhost:4200/perfilInfo">Información Personal</a>
                  </li>
                  <li class="nav-item boton1">
                    <a class="nav-link" href="http://localhost:4200/rmascota">Registrar Mascota</a>
                  </li>
                  <li class="nav-item boton1">
                    <a class="nav-link" href="http://localhost:4200/paqPublicidad">Enviar Publicidad</a>
                  </li>
                  <li class="nav-item boton1">
                    <a class="nav-link" href="http://localhost:4200/">Cerrar Sesión</a>
                  </li> 
            </ul>
        </div>
    </div>    
  
    <div class="Publicaciones"  >
        <div class="mb-3" >
            <input type="submit" value="Mis Publicaciones" class="form-control" id="formGroupExampleInput">
        </div >
        <div class="seccion2" *ngFor="let mascota of mascotas"  >
            <div >
                <h2 class="public1">{{mascota.nombre}}</h2>
                <p class="public1">{{mascota.descripcion}}</p>
                <img src="{{mascota.fotos}}" alt="publicacion1" width="500" class="public1">
            </div>
        </div>
    </div>
</div>
