.perfil{
    display: flex;
    flex-direction: row;
}
.container{
    margin: 50px;
    margin-left: 100px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    width: 30%;
}
#menu1{
    display: none;
}
.iconomenu{
    display: none;
}
h4{
    text-align: center;
}
.imagen {
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.699);
    border-radius: 5px;
    float: left;
    padding-left: 0px;
}
.imagen img{
    margin: 0px;
    text-align: center;
}
.boton1{
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.699);
    border-radius: 5px;
    float: left;
    padding-right: 90px;
    padding-left: 90px;
    }
.boton1:hover{
    text-decoration: underline;
    background-color: #C8F4F9;

}
.boton2{
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.699);
    border-radius: 5px;
    float: left;
    padding-right: 60px;
    padding-left: 60px;
    text-decoration: none;
}
.boton2:hover{
    text-decoration: underline;
    background-color: #C8F4F9;

}
.boton3{
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.699);
    border-radius: 5px;
    float: left;
    padding-right: 31px;
    padding-left: 31px;
    text-decoration: none;
}
.boton3:hover{
    text-decoration: underline;
    background-color: #C8F4F9;

}
.boton4{
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.699);
    border-radius: 5px;
    float: left;
    padding-right: 42px;
    padding-left: 42px;
    text-decoration: none;
}
.boton4:hover{
    text-decoration: underline;
    background-color: #C8F4F9;

}
.boton5{
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.699);
    border-radius: 5px;
    float: left;
    padding-right: 60px;
    padding-left: 60px;
    text-decoration: none;
}
.boton5:hover{
    text-decoration: underline;
    background-color: #C8F4F9;

}


.Publicaciones{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px;
    margin-right: 100px;
    margin-left: 0px;
    width: 70%;
}
h3{
    padding: 10px
}   
.fotoPerfil{
    display: flex;
    flex-direction: row;
    margin: 0px 50px;

}
.boton11{
    background-color: #C8F4F9;
    border-style:ridge;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 10px;
    text-decoration: none;
    color: black;
}
.botones{
    margin: 10px 150px;
}
.comentarios{
    margin:0px 50px;
    padding: 5px 150px;
    background-color: white;
    color: black;
    text-align: center;
}
.public1{
    margin: 10px 100px 10px 150px;
}

.compartir{
    padding: 5px 70px;
    background-color: rgba(139, 135, 135, 0.26);
    color: black;
    text-align: center;   
}
label{
    padding: 10px;
}
.opciones{
    margin-top: 0px;
    text-align: right;
}
input:hover{
    background-color: #C8F4F9;

}
p{
    color: black;
    padding-top: 5px;
}


@media screen and (max-width:768px) {
    .perfil{
        display: flex;
        flex-direction: column;
    }
    .container{
        margin-left: 50px;
        flex-direction: row;
    }
    .lista{
        display: none;
   }
    #menu1{
        display: none;
    }
    .iconomenu{
        display: block;
        padding-left: 200px;
        padding-top: 0px;
    }
    #menu1:checked ~ .lista{
        display: block;
    }




    .Publicaciones{
        margin: 20px;
        margin-left: 50px;
        width: 70%;
    }
        .public1{
        margin: 10px 0px 10px 0px;
    }    
    .botones{
        margin: 10px 0px;
    }
   
}

@media screen and (max-width:586px) {
    .container{
        margin-left: 20px;
        flex-direction: row;
    }
 
    .iconomenu{
        padding-left: 150px;
        padding-top: 0px;
    }
    .boton1{
        padding-right: 80px;
        padding-left: 80px;
    }
    .boton2{
        padding-right: 50px;
        padding-left: 50px;
    }

   
}