<body>
    <section class="carousel">

      <div class="carousel__container">

        <div class="carousel-item">
          <img class="carousel-item__img" src="https://m.media-amazon.com/images/I/718FVEiBFiL._AC_SX466_.jpg" alt=""  />
          <div class="carousel-item__details">
            <p class="carousel-item__details--title">Publicidad</p>
            <p class="carousel-item__details--subtitle">descripción Lorem ipsum dolor, 
                <br> sit amet consectetur adipisicing elit. 
                <br> Maxime excepturi vel, totam ducimus id enim rerum,
                <br> inventore debitis nesciunt quam et soluta ex! 
                <br> Quidem eligendi dolor ex officia nisi vero!</p>
          </div>
        </div>
        
        <div class="carousel-item">
          <img class="carousel-item__img" src="https://www.dhresource.com/0x0/f2/albu/g17/M00/83/61/rBVa4WABPXqAAJSPAAG5yrbsuVQ047.jpg" alt=""  />
          <div class="carousel-item__details">
            <p class="carousel-item__details--title">Publicidad</p>
            <p class="carousel-item__details--subtitle">descripción Lorem ipsum dolor, 
                <br> sit amet consectetur adipisicing elit. 
                <br> Maxime excepturi vel, totam ducimus id enim rerum,
                <br> inventore debitis nesciunt quam et soluta ex! 
                <br> Quidem eligendi dolor ex officia nisi vero!</p>
          </div>
        </div>
       
        <div class="carousel-item">
          <img class="carousel-item__img" src="../../../assets/publi1.jpg" alt=""  />
          <div class="carousel-item__details">
            <p class="carousel-item__details--title">Publicidad</p>
            <p class="carousel-item__details--subtitle">descripción Lorem ipsum dolor, 
                <br> sit amet consectetur adipisicing elit. 
                <br> Maxime excepturi vel, totam ducimus id enim rerum,
                <br> inventore debitis nesciunt quam et soluta ex! 
                <br> Quidem eligendi dolor ex officia nisi vero!</p>>
          </div>
        </div>
       
        <div class="carousel-item">
          <img class="carousel-item__img" src="../../../assets/publi2.jpg" alt=""  />
          <div class="carousel-item__details">
            <p class="carousel-item__details--title">Publicidad</p>
            <p class="carousel-item__details--subtitle">descripción Lorem ipsum dolor, 
                <br> sit amet consectetur adipisicing elit. 
                <br> Maxime excepturi vel, totam ducimus id enim rerum,
                <br> inventore debitis nesciunt quam et soluta ex! 
                <br> Quidem eligendi dolor ex officia nisi vero!</p>
          </div>
        </div>
  
        <div class="carousel-item">
          <img class="carousel-item__img" src="../../../assets/publi3.jpg" alt=""/>
          <div class="carousel-item__details">
            <p class="carousel-item__details--title">Publicidad</p>
            <p class="carousel-item__details--subtitle">descripción Lorem ipsum dolor, 
                <br> sit amet consectetur adipisicing elit. 
                <br> Maxime excepturi vel, totam ducimus id enim rerum,
                <br> inventore debitis nesciunt quam et soluta ex! 
                <br> Quidem eligendi dolor ex officia nisi vero!</p>
          </div>
        </div>
       
        <div class="carousel-item">
          <img class="carousel-item__img" src="../../../assets/publi4.jpg" alt=""  />
          <div class="carousel-item__details">
            <p class="carousel-item__details--title">Publicidad</p>
            <p class="carousel-item__details--subtitle">descripción Lorem ipsum dolor, 
                <br> sit amet consectetur adipisicing elit. 
                <br> Maxime excepturi vel, totam ducimus id enim rerum,
                <br> inventore debitis nesciunt quam et soluta ex! 
                <br> Quidem eligendi dolor ex officia nisi vero!</p>
          </div>
        </div>
       
        <div class="carousel-item">
          <img class="carousel-item__img" src="../../../assets/publi5.jpg" alt=""  />
          <div class="carousel-item__details">
            <p class="carousel-item__details--title">Publicidad</p>
            <p class="carousel-item__details--subtitle">descripción Lorem ipsum dolor, 
                <br> sit amet consectetur adipisicing elit. 
                <br> Maxime excepturi vel, totam ducimus id enim rerum,
                <br> inventore debitis nesciunt quam et soluta ex! 
                <br> Quidem eligendi dolor ex officia nisi vero!</p>
          </div>
        </div>
        
        <div class="carousel-item">
          <img class="carousel-item__img" src="../../../assets/publi6.jpg" alt=""  />
          <div class="carousel-item__details">
            <p class="carousel-item__details--title">Publicidad</p>
            <p class="carousel-item__details--subtitle">descripción Lorem ipsum dolor, 
                <br> sit amet consectetur adipisicing elit. 
                <br> Maxime excepturi vel, totam ducimus id enim rerum,
                <br> inventore debitis nesciunt quam et soluta ex! 
                <br> Quidem eligendi dolor ex officia nisi vero!</p>
          </div>
        </div>
       
        <div class="carousel-item">
            <img class="carousel-item__img" src="../../../assets/publi7.jpg" alt=""  />
            <div class="carousel-item__details">
              <p class="carousel-item__details--title">Publicidad</p>
              <p class="carousel-item__details--subtitle">descripción Lorem ipsum dolor, 
                  <br> sit amet consectetur adipisicing elit. 
                  <br> Maxime excepturi vel, totam ducimus id enim rerum,
                  <br> inventore debitis nesciunt quam et soluta ex! 
                  <br> Quidem eligendi dolor ex officia nisi vero!</p>
            </div>
          </div>
         
          <div class="carousel-item">
            <img class="carousel-item__img" src="../../../assets/publi8.jpg" alt=""  />
            <div class="carousel-item__details">
              <p class="carousel-item__details--title">Publicidad</p>
              <p class="carousel-item__details--subtitle">descripción Lorem ipsum dolor, 
                  <br> sit amet consectetur adipisicing elit. 
                  <br> Maxime excepturi vel, totam ducimus id enim rerum,
                  <br> inventore debitis nesciunt quam et soluta ex! 
                  <br> Quidem eligendi dolor ex officia nisi vero!</p>
            </div>
          </div>    
      </div>  
    </section>
    <button type="submit" class="boton11" (click)="publicidad()">Pautar con nosotros</button> 
</body>
