<body>
  <div class="container">
      <div class="row">
          <div class="col s12">
              <h1 class=" center-align titulo">Publicidades </h1>

              <div class="carousel center-align">
                  <div class="carousel-item">
                      <h2 class="subtitulo">Juegtes</h2>
                      <div class="linea-division"></div>
                      <p class="publicidad">Publicidad</p>
                      <img src="../../../assets/tunel y cama gatos .jpg" alt="">
                  </div>

                  <div class="carousel-item">
                      <h2 class="subtitulo">Juegtes</h2>
                      <div class="linea-division"></div>
                      <p class="publicidad">Publicidad</p>
                      <img src="../../../assets/publi1.jpg" alt="">
                  </div>

                  <div class="carousel-item">
                      <h2 class="subtitulo">Juegtes</h2>
                      <div class="linea-division"></div>
                      <p class="publicidad">Publicidad</p>
                      <img src="../../../assets/publi2.jpg" alt="">
                  </div>

                  <div class="carousel-item">
                      <h2 class="subtitulo">Juegtes</h2>
                      <div class="linea-division"></div>
                      <p class="publicidad">Publicidad</p>
                      <img src="../../../assets/publi3.jpg" alt="">
                  </div>

                  <div class="carousel-item">
                      <h2 class="subtitulo">Juegtes</h2>
                      <div class="linea-division"></div>
                      <p class="publicidad">Publicidad</p>
                      <img src="../../../assets/publi4.jpg" alt="">
                  </div>

                  <div class="carousel-item">
                      <h2 class="subtitulo">Juegtes</h2>
                      <div class="linea-division"></div>
                      <p class="publicidad">Publicidad</p>
                      <img src="../../../assets/Gato-jugando-pelota-iStock.jpg" alt="">
                  </div>

                  <div class="carousel-item">
                      <h2 class="subtitulo">Juegtes</h2>
                      <div class="linea-division"></div>
                      <p class="publicidad">Publicidad</p>
                      <img src="../../../assets/publi6.jpg" alt="">
                  </div>

                  <div class="carousel-item">
                      <h2 class="subtitulo">Juegtes</h2>
                      <div class="linea-division"></div>
                      <p class="publicidad">Publicidad</p>
                      <img src="../../../assets/publi7.jpg" alt="">
                  </div>

                  <div class="carousel-item">
                      <h2 class="subtitulo">Juegtes</h2>
                      <div class="linea-division"></div>
                      <p class="publicidad">Publicidad</p>
                      <img src="../../../assets/publi8.jpg" alt="">
                  </div>

                  <div class="carousel-item">
                      <h2 class="subtitulo">Juegtes</h2>
                      <div class="linea-division"></div>
                      <p class="publicidad">Publicidad</p>
                      <img src="../../../assets/1juegosgato.jpg" alt="">
                  </div>


              </div>
              
          </div>
      </div>
  </div>

  
</body>
