
  footer{
    display: flex;
    align-items: center;
    padding-left: 12rem;
    background-color: #C26DBC;
    height: 6.2rem;
}

.redesSociales{
  float: right;
  padding-left: 31rem;
}

.redesSociales img{
   padding-left: 1rem;
}

.colorfooter{
   color: #041F60;
}
@media screen and (max-width: 1200px){
  footer{
    font-size: 12px;
  }

  .redesSociales{
    float: right;
    padding-left: 25rem;
  }
}

@media screen and (max-width: 992px){
  footer{
    font-size: 12px;
  }

  .redesSociales{
    float: right;
    padding-left: 15rem;
  }

  .redesSociales img{
    width: 30px;
    height: 20px;
 }
 
}

@media screen and (max-width: 768px){
  footer{
    font-size: 12px;
    padding-left: 4rem;
  }

  .redesSociales{
    float: right;
    padding-left: 14rem;
  }

  .redesSociales img{
    width: 30px;
    height: 20px;
 }
}


@media screen and (max-width: 576px){

  footer{
    font-size: 9px;
    padding-left: 4rem;
    height: 3rem;
  }

  .redesSociales{
    float: right;
    padding-left: 8rem;
  }

  .redesSociales img{
    width: 25px;
    height: 15px;
 }
}