* {
    margin: 0; 
    padding: 0px;
}

hr{
    margin: 20px 50px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
section {
    display: flex;
}

@media screen and (max-width:768px) {
    .header{
        display: flex;
        
        flex-direction: column-reverse;
    }
}