
p{
    padding-top: 5px;
    justify-content: center;
}
nav ul li {
    display: flex;
    flex-direction:row;
    margin-top: 0.6rem;
  }
nav ul li a{
    background-color:white; 
    color: rgb(52, 52, 233);
    font-size: 18px; 
    margin-top: 0px;
    border:none;
  }
  nav ul li a:hover{
    background-color: #C8F4F9 ;
  }


form{
    justify-content: center;
    padding-top: 40px;
 }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
}

#alert__submit-success,
#alert__submit-error {
    display: none;
    padding: 1rem;
    color: white;
    margin-bottom: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.4s;
}

#alert__submit-success {
    background-color: rgba(77, 255, 71, 0.7);
}

#alert__submit-error {
    background-color: rgba(255, 0, 0, 0.7);
}

#alert__submit-success.active,
#alert__submit-error.active {
    display: block;
}

.alert_success,
.alert_error {
    padding: 2rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18pt;
    border-radius: 0.5rem;
}

.alert_success {
    background-color: green;
}

.alert_error {
    background-color: rgba(255, 0, 0, 0.7);
}
