<section>
    <aside>
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/Adopcion1.jpeg" class="d-block w-100" alt="...">
            
          </div>
          <div class="carousel-item">
            <img src="../../../assets/Adopcion2.jpeg" class="d-block w-100" alt="...">
          
          </div>
          <div class="carousel-item">
            <img src="../../../assets/Adopcion3.jpeg" class="d-block w-100" alt="...">
            
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </aside>
    <address>
      <dl class="row">
        <dt class="col-sm-3"> Nombre</dt>
        <dd class="col-sm-9">Este es el nombre de la mascota.</dd>
      
        <dt class="col-sm-3">Tipo de Mascota</dt>
        <dd class="col-sm-9">
          <p>Que tipo de mascota soy</p>
          <p>Que raza soy</p>
          <p>Que edad tengo</p>
        </dd>
      
        <dt class="col-sm-3">Responsable</dt>
        <dd class="col-sm-9">Quien es el responsable.</dd>
      
        <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
        <dd class="col-sm-9">This can be useful when space is tight. Adds an ellipsis at the end.</dd>
      
       
        <dd class="col-sm-9">
          <dl class="row">
            <dt class="col-sm-4">Descripción</dt>
            <dd class="col-sm-8">Describenos la personalidad de esta mascota</dd>
          </dl>
        </dd>
      </dl>
      <div class="botones">
        <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" style="margin-right: 0.6rem;"> 
          <strong>Adoptar</strong>
        </button>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" >
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
              <h4 id="offcanvasRightLabel">Gracias por elegir a esta mascota!</h4>
              <hr>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
            <p>
              Ahora que elegiste a un nuevo integrante de tú familia, solo queda diligenciar el siguiente formulario.
            </p>
            <div class="mb-3">
              <label for="validationServer01" class="form-label">Nombre completo</label>
              <div class="col">
                <input type="text" class="form-control" placeholder="Name" formControlName="nombre" aria-label="First name">
              </div>
            
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" formControlName="email" placeholder="name@example.com">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Tipo de documento</label>
              <input type="text" class="form-control" formControlName="tipodoc" id="exampleInputPassword1">
            </div>
            <!--<select class="form-select" aria-label="Default select example">
              <option selected>Tipo de documento</option>
              <option value="1">CC</option>
              <option value="2">TI</option>
              <option value="3">CE</option>
            </select>-->
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Número de documento</label>
              <input type="number" class="form-control" formControlName="documento" id="exampleInputPassword1">
            </div>
            <div class="form-floating">
              <input formControlName="observaciones" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px">
              <label for="floatingTextarea2">Cuentanos que te motiva a adoptar...</label>
            </div>
            <p>Al enviar el formulario se compromete a aceptar los terminos y condiciones de la adopción.</p>
            <button type="submit" class="btn btn-primary">Submit</button>
            <!--<p>Pronto el responsable de la mascota se comunicará contigo.</p> --->
          <!--quiero que salga al sar click-->
            </div>
          </div>
        </form>
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <strong>Donar</strong>
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Gracias por Donar!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <p>Puedes realizar tus donaciones de las siguientes formas:</p><br>
                  <p> 1. Por medio de transferencia Bancaria:</p>   
                  <ul>
                    <li>Nombre: Petswords</li>
                    <li>Nit: 900526328-6</li>
                    <li>Entidad Bancaria: Bancolombia</li>
                    <li>Número de cuenta: 9550222035</li>
                  </ul>
                  <p>2. Por medio de App:</p>   
                  <ul>
                    <li>Nequi: 3206720233</li>
                    <li>Daviplata: 3206720233</li>
                  </ul> 
                  <p> Con tú aporte ayudas a muchos!</p>    
              </div>
            </div>
          </div>
        </div>
      </div>
    </address>
  </section>

  