section{
    display: flex;
    padding: 1.25rem;
  
}
aside{
    padding: 0.625rem;
    width: 50%;
    height: 25rem;
}
address{
    padding: 0rem;
    width: 50%;
    height:37.5rem ;
    padding: 0.625rem;
}

.accordion{
    padding: 0.625rem;
    height: 100%;
    width: 90%;
}
.carouselExampleCaptions{
    height: 80%;
    width: 80% ;
}

@media (max-width: 992px) {
    section{
        height: 30rem;
        
    }
    address{
        height: 30rem;
    }   
    .carouselExampleCaptions{
        height: 40%;
        width: 40% ;
    }
}