<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="introCon">
    <h2>Contáctanos</h2>
    <p>Escríbenos acerca de nuestros servicios o cualquier otra inquietud y te responderemos en la mayor brevedad posible.</p>
    </div><br>
    <section>
        <aside>
            <div class="row">
                <div class="col">
                <input type="text" class="form-control" formControlName="nombre" aria-label="Nombre" placeholder="Nombre">
                </div>
                <div class="col">
                <input type="text" class="form-control" formControlName="apellido" aria-label="Apellido" placeholder="Apellido">
                </div>
            </div> <br>
            <div class="row">
                <div class="col">
                <input type="email" class="form-control" formControlName="correo" aria-label="Email" placeholder="Email">
                </div>
                <div class="col">
                <input type="tel" class="form-control" formControlName="telefono" aria-label="telefono" placeholder="Telefono">
                </div>
            </div><br>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Asunto</span>
                <input type="text" class="form-control" aria-label="Sizing example input" formControlName="asunto" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" formControlName="mensaje" style="height: 100px"></textarea>
                <label for="floatingTextarea2" >Escribe aquí tu mensaje</label>
            </div><br>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </aside>
        <address>
            <h3>Información de contacto</h3>
            <hr>
            <div class="lista">
                <div class="tel"> 
                    <ul style="padding-left: 27px;"> 
                        <li>Teléfono </li>
                    </ul> 
                </div> 
                <div class="correo"> 
                    <ul style="padding-left: 27px;"> 
                        <li>Correo Electrónico </li>
                    </ul> 
                </div> 
                <div class="ubicacion"> 
                    <ul style="padding-left: 27px;"> 
                        <li>Armenia, Quindío</li>
                    </ul> 
                </div> 
            </div>
            <div class="mapa">
                <img src="../../../assets/mapa.png" width="280px" height="160px" alt="imagenmaletin" />
            </div>
        </address>
    </section>
</form>