<div>
    <section>
      <div class="adoptar">
        <h2>¿Quieres adoptar <br> o dar en adopción <br> una mascota?</h2>
        <br>
        <p>Aquí podrás encontrar, buscar y publicar aquellas máscotas que necesitan un hogar.</p>
        <h4>Algunas de nuestras mascotas:</h4>
        <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../assets/Portada1.jpeg" href="http://localhost:4200/#" width="400px" height="320px" alt="Adopcion1">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/Portada2.jpeg" href="http://localhost:4200/#" width="400px" height="320px"   alt="Adopcion2">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/Portada3.jpeg" href="http://localhost:4200/#" width="400px" height="320px"  alt="Adopcion3">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="learnmore">
          <a href="http://localhost:4200/galery-ppal" type="submit" class="btn btn-light">Leer Más...</a>
        </div>
      </div>
      <div class="inicio">
        <div class="logoInicio">
          <img src="../../../assets/Logo.png" href="http://localhost:4200/#" alt="logo" width="400px" height="200px">
        </div>
        <form [formGroup]="formInicio" (ngSubmit)="onSubmitInicio()" class="fondo">  
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Usuario</label>
            <input type="email" class="form-control" formControlName="usuario" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" formControlName="password">
          </div>
         
          <div class="ingreso">
            <button href="http://localhost:4200/galeria" type="submit" class="btn btn-primary">Iniciar sesión </button>
          </div>
          <div class="registrate">
            <a class="nav-link" href="http://localhost:4200/registro">¿Olvidaste tu contraseña?</a>
          </div>
          <hr> 
          <div class="crearCuenta">
            <a href="http://localhost:4200/registro" class="btn btn-success">Crear cuenta</a>
          </div>
        </form>
      </div>
    </section>
    <hr>
    <aside>
      <h3> ¿Porque adoptar en Pets World?</h3><br> 
      <div class="beneficios"> 
          <div class="beneficio">
              <img src="../../../assets/iconoBen.png" href="http://localhost:4200/#" alt="icono" width="80px" height="80px">
              <h5>Adopción segura</h5>
              <p>En Pets World puedes conocer a detalle quien está dando en adopción a las mascotas.</p>
          </div>
          <div class="beneficio">
            <img src="../../../assets/iconoBen.png" href="http://localhost:4200/#" alt="icono" width="80px" height="80px">
            <h5>Adoptantes confiables</h5>
            <p>En Pets World puedes confiar en que los adoptantes son personas serias y responsables, con capacidad de adopción.</p>
          </div>
          <div class="beneficio">
            <img src="../../../assets/iconoBen.png" href="http://localhost:4200/#" alt="icono" width="80px" height="80px">
            <h5>Donaciones confiables</h5>
            <p>En Pets World puedes vigilar que animalitos se rescatan con tus donaciones.</p>
          </div><br> 
      </div>
      <hr>
      <div class="registrateHoy">
        <h3>Registrate Hoy!</h3><br>
        <p>Pets World espera agrupar en un solo lugar estas fundaciones, en donde aquellas personas interesadas en ayudar, adoptar u/o dar en adopción animales rescatados pueda tener un espacio, formando alianzas y unidad con otras personas con el mismo ánimo de ayudar y con un solo propósito, en el que se pueda enfocar y proyectar sus acciones a la ciudadanía en general.
        </p><br> 
        <a href="http://localhost:4200/registro" class="btn btn-success">Crear cuenta</a>
      </div>
    </aside>
  </div>

