<header>
    <div class="mb-3">
      <input type="button" value="Publicaciones" class="form-control botonpublic" id="formGroupExampleInput">
      <input type="text" placeholder="Publicar..." class="texto">
    </div>
    <div class="Publicaciones">
      <div class="fotoPerfil">
        <img src="../assets/fotoperfil.jpg" href="http://localhost:4200/perfilP" alt="Foto del usuario" width="150">
        <a href="http://localhost:4200/perfilP">Usuario</a>
      </div>
      <div class="opciones">
        <button type="submit" class="boton11" (click)="quieroAdop()">Quiero Adoptar</button>      
        <label for="Adop">✔ Adoptado</label>
        <br>
        <div *ngIf ="!load"class="spinner-border text-info" role="status">
          <span class="sr-only"></span>
        </div>
      </div>
    </div> 
    <div class="datePublic" *ngFor="let public of mascotas">
      <h3>{{public.nombre}}</h3>
      <p>{{public.descripcion}}</p>
      <img src="{{public.foto1}}" alt="publicacion" width="600" class="public1">
    </div>
    <div class="botones">
      <button class="btn btn-primary comentarios" data-bs-toggle="button" autocomplete="off" (click)="com=!com">Comentarios</button>
      
      <p class="text" *ngIf="com"><app-comentarios></app-comentarios></p>
      <p class="text" *ngIf="com"><app-comentarios1></app-comentarios1></p>
    </div>
</header>
