<section>
  <h2>Hola {{nombres}}</h2>
    <div class="datePublic" *ngFor="let public of mascotas">
      <h3>{{public.nombre}}</h3>
      <p>{{public.descripcion}}</p>
      <img src="{{public.foto1}}" alt="publicacion" width="600" class="public1">
    </div>
    <hr>
    <div class="botones">
      <button class="btn btn-primary comentarios" data-bs-toggle="button" autocomplete="off" (click)="com=!com">Pauta con nosotros</button>
      
     <!-- Pendiente pagina para redireccionar-->
    </div>
  
  </section>
