header{
    width: 80%;
}

.imagen{
    margin-left:100px;
}

.texto{
    padding: 5px;
    margin-top: 10px;
    border-radius: 8px;
}


.Publicaciones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.fotoPerfil{
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
}
a{
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 30px;
}
.boton1{
    background-color: #C8F4F9;
    border-radius: 5px;
    margin-top: 50px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 10px;
}
.boton11{
    background-color: #C8F4F9;
    border-radius: 5px;
    margin-top: 50px;
    margin-right: 10px;
    margin-bottom: 15px;
    padding: 5px 5px;
    color: black;
    font-size: 15px;
}
label{
    padding: 5px;
}
.public1{
    margin: 10px 50px 10px 50px;
}
.botones{
    margin: 10px 20px;
}
.comentarios{
    margin:0px 150px;
    padding: 5px 150px;
    background-color: white;
    color: black;
    text-align: center;
}
.compartir{
    padding: 5px 150px;
    background-color: rgba(139, 135, 135, 0.26);
    color: black;
    text-align: center;   
}
p{
    color: black;
    padding-top: 5px;

}

@media screen and (max-width:768px) {
    header{
        margin:0px 50px;
    }
    div{
        padding: 0px 10px;

    }
    .comentarios{
        margin:0px 50px;
        padding: 5px 150px;
    }
    .public1{
        margin: 10px 30px 10px 30px;
        width: 500px;
    }
    a{
        font-size: 20px;
    }
    .fotoPerfil img{
        width: 100px;
    }
    .boton1{
        margin-right: 10px;
        margin-bottom: 20px;
        padding:10px 5px;
    }
}