<div class="perfil">
    <div class="container">
        <div>
            <ul class="nav flex-column">
                <ol class="nav-item imagen">
                    <img src="https://d500.epimg.net/cincodias/imagenes/2016/07/04/lifestyle/1467646262_522853_1467646344_noticia_normal.jpg" class="nav-link" href="#" width="250">
                    <h4>Usuario</h4>
                </ol> 
            </ul>
        </div>
        <div>
            <input type="checkbox" id="menu1">
            <label for="menu1" class="iconomenu">☰</label>
            <ul class="lista">
                <ol class="nav-item boton1">
                    <a class="nav-link active " aria-current="page" href="http://localhost:4200/home">Inicio</a>
                  </ol>
                  <ol class="nav-item boton2">
                      <a class="nav-link" href="http://localhost:4200/perfilP">Publicaciones</a>
                  </ol>
                  <ol class="nav-item boton3">
                    <a class="nav-link" href="#">Información Personal</a>
                  </ol>
                  <ol class="nav-item boton4">
                    <a  class="nav-link" type="button" (click)="regMascota()">Registrar Mascota</a>
                  </ol>
                  <ol class="nav-item boton4">
                    <a class="nav-link" href="#">Cerrar Sesión</a>
                  </ol> 
            </ul>
        </div>
    </div>
    <div class="info">
        <div class="mb-3">
            <input type="submit" value="Información Personal" class="form-control" id="formGroupExampleInput">
        </div>
        <ul>
            <ol><strong>Nombres</strong></ol>
            <ol>*Nombre del usuario*</ol>
            <ol><strong>Apellidos</strong></ol>
            <ol>*Apeillido del usuario*</ol>
            <ol><strong>Correo electrónico</strong></ol>
            <ol>*Correo del usuario*</ol>
            <ol><strong>Teléfono</strong></ol>
            <ol>*Teléfono del usuario*</ol>
        </ul>
    </div>
</div>