<header>
    <img src="../../../assets/Logo.png" href="http://localhost:4200/#" alt="logo" width="200" height="100">
      <nav>
        <ul class="nav justify-content-end">            
          <li >
            <a class="nav-link" href="http://localhost:4200/galery-ppal">Inicio</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-sm btn-outline-secondary" type="submit">Buscar</button>
        </form>
      </nav>
  </header>
