div{
    padding: 15px 0px;
}
form{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.descripcion {
    height: 150px;
    width: 350px;
}
.check{
    display:flex;
    justify-content: space-around;
}

.edad{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
.edadnum{
    width: 15vw;
}

select{
    margin-top: 30px;
    width: 15vw;
    height: 6vh;
}
@media screen and (max-width:768px) {
    form{
        flex-direction: column;
        margin: 0px 100px;
    }
}