section{
    height: 550px;
}


.carousel-inner img{ 
    height: 500px;
    background-position:center;
	background-size: 120%;
	background-repeat: no-repeat;
    
}

@media screen and (max-width: 1200px){

}
@media screen and (max-width: 992px){


}
@media screen and (max-width: 756px){


}
@media screen and (max-width: 576px){


}